.maincontainer{
    background-color: #121B27;
    font-family: 'Satoshi-Regular';
    padding: 3rem;
    color: #ffffff;   
}

.sect1{
    position: relative;
    padding-bottom: 6rem;

}

.sect1 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.headerbtn-div{
    background: linear-gradient(to left,#5404FF 0%, rgba(189, 59, 210, 0.94) 81.9%);
    padding: 2px;
    border-radius: 100px;
}

.headerbtn{
    padding: 1rem 1.5rem;
    color: white;
    border: none ;
    background-color: #121b27;
    border-radius: 100px;
    cursor: pointer;
}

.headerbtn:hover{
    background-color: #ffffff5b;
}

.headerlogo{
    width: 10rem;
}

.herodiv{
    margin: 2rem 0;
}
.herodiv h1{
    font-family: 'Satoshi-Bold';
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    padding: 0 20%;
}

.herodiv span{
    color: #A75FD2;
}

.herodiv p{
    font-family: 'Satoshi-Light';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    padding: 0 18%;
}

.herouser{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.herouser img{
    margin-right: 4px;
}

.herouser p{
    margin-bottom: 0 ;
    
}
.ellipse1, .ellipse2, .ellipse3, .star1, .star2, .star3, .star4, .heroscribe{
    position: absolute;

}  

.ellipse1{
    top: 11rem;
    max-height: 10rem;

}

.ellipse2{
    top: 6rem;
    right: 20%;
    max-height: 7rem;
}

.ellipse3{
    top: 20rem;
    right: 0;
    max-height: 23rem;
}

.star1{
    top: 11rem;
    left: 33%;
}

.star2{
    top: 17.5rem;
    right: 18%;
}

.star3{
    bottom: -5rem;
    right: 8%;
}

.star4{
    bottom: -10rem;
    left: 10%;
}

.heroscribe{
    bottom: 8%;
    right: 20%;
}

.sect2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 1.5rem 6rem 1.5rem;
    position: relative;
}

.ellipse4, .star5, .star6, .star7, .scribe2, .scribe3{
    position: absolute;
}

.ellipse4{
    top: 6rem;
    left: 4rem;
}

.scribe2{
    top: 8rem;
    left: 50%;
}

.scribe3{
    top: 3rem;
    right: 7%;
}

.star5{
    top: 15rem;
    left: 28%;
}

.star6{
    bottom: 24%;
    left: 50%;
}

.star7{
    bottom: 1rem;
    right: 3rem;
}

.contentdiv{
    padding: 2rem;
    width: 35rem;
}

.contentdiv h2{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 1rem;
}

.contentdiv p{
    font-style: 'Satoshi-Regular';
    font-weight: 200;
    font-size: 20px;
    
}

.contentdiv img{
    margin-left: 6.5rem;
}

.myfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.myfooter div{
    display: flex;
    align-items: flex-start;
    margin: 0 1rem;
}

.footerspecial{
    width: 18rem;
}

.myfooter img{
    margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    .heroscribe{
        display: none;
    }

    .star1{
        top: 10rem;
    }
    
    .star3{
        bottom: 12rem;
    }

    .star4{
        bottom: 3rem;
    }

}



@media screen and (max-width: 900px) {
    .sect2{
        flex-wrap: wrap;
    }

    .star5{
        left: 1rem;
    }

    .star6{
        display: none;
    }

    .contentdiv{
        margin: 0 auto;
        text-align: center;
    }

    .contentdiv img{
        margin-left: 0;
    }

    .bform-container{
        margin: 0 auto;
        z-index: 1;
    }

    .myfooter{
        padding: 0.5rem 0 0 0;
    }

    .myfooter div{
        margin: 0.5rem;
    }
}

@media screen and (max-width: 670px) {
    .headerbtn{
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
    }
    
    .herodiv h1{
        font-size: 40px;
        padding: 0 15%;
    }

    .herodiv p{
        font-size: 15px;
        padding: 0 15%;
    }

    .sect2{
        padding: 6rem 1.5rem;
    }

    .contentdiv{
        z-index: 1;
    }

    .contentdiv h2{
        font-size: 40px;
    }

    .contentdiv p{
        font-size: 15px;
    }
    
    .ellipse4{
        left: 0.5rem;
    }

    .scribe2{
        top: 3rem;
        width: 1rem;
    }

    .scribe3{
        top: 0;
        right: 3%;
        width: 1rem;
    }

    .star5{
        top: 23rem;
        left: 1rem;
    }

    .star7{
        right: 8px;
        width: 2rem;
    }
}

@media screen and (max-width: 465px) {
    .maincontainer{
        padding: 3rem 1.5rem;
    }

    .headerlogo{
        width: 8rem;
    }

    .sect1 header{
        margin-bottom: 3rem;
    }

    .herodiv h1{
        font-size: 32px;
        padding: 0 1rem;
    }

    .herodiv p{
        font-size: 12px;
        padding: 0 1rem;
    }

    .star1{
        top: 7.5rem;
        width: 1rem;

    }

    .star2{
        width: 1rem;
        top: 11rem;
        right: 5%;
    }

    .star3{
        width: 2rem;
        right: 8px;
    }

    .star4{
        width: 2rem;
        bottom: 7rem;
        left: 8px;
    }

    .sect2{
        padding: 6rem 1.5rem 4rem 1.5rem;
    }

    .contentdiv{
        padding: 2rem 0;
    }

    .contentdiv h2{
        font-size: 32px;
    }

    .contentdiv img{
        width: 6rem;
    }

    .contentdiv p{
        font-size: 12px;
    }
    .ellipse4{
        top: 1rem;
        left: 0;
    }

    .star5, .star7{
        width: 1rem;
    }

    .myfooter div{
        margin: auto;
    }
    .footerspecial{
        width: auto;
    }
}

@media screen and (max-width: 320px) {
    .headerlogo{
        width: 6rem;
    }

    .headerbtn{
        padding: 0.35rem 0.5rem;
        font-size: 0.65rem;
    }

    .myfooter p{
        font-size: 0.75rem;
    }
    .star1{
        top: 6.5rem;
    }
    .star3{
        bottom: -3rem;
    }

    .star4{
        bottom: -10rem;
    }

    .myfooter{
        flex-direction: column;
    }
}