@font-face {
  font-family: "Satoshi-Light";
  src: local("Satoshi"),
   url("./Fonts/Satoshi-Light.otf") format("opentype");
  font-weight: light;
  }


@font-face {
    font-family: "Satoshi-Regular";
    src: local("Satoshi"),
    url("./Fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: normal;
    }

@font-face {
    font-family: "Satoshi-Bold";
    src: local("Satoshi"),
    url("./Fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: bold;
    }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Satoshi-Light', sans-serif;
}